<template>
  <div class="wrapper">
    <router-view></router-view>
    <app-footer></app-footer>
  </div>
</template>

<script>
import AppFooter from '@/views/include/AppFooter'
export default {
  components: {
    AppFooter
  }
}
</script>

<style>
</style>
