<template>
  <div class="footer">
    <van-tabbar v-model="active">
      <van-tabbar-item name="home" icon="home-o">每日推荐</van-tabbar-item>
      <van-tabbar-item name="search" icon="search">标签</van-tabbar-item>
      <van-tabbar-item name="friends" icon="setting-o">标签</van-tabbar-item>
      <van-tabbar-item name="setting" icon="friends-o">个人中心</van-tabbar-item>
    </van-tabbar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      active: 0
    };
  }
}
</script>
<style scoped>
</style>
