<template>
  <div>
    <van-nav-bar
      :title=title
      left-text="返回"
      right-text="按钮"
      left-arrow
    />
  </div>
</template>

<script>
export default {
  props: ['title']
}
</script>
<style scoped>
</style>
