<template>
  <div>
    <van-tabs v-model="active" swipeable>
      <van-tab title="视频">视频</van-tab>
      <van-tab title="图文"></van-tab>
      <van-tab title="文字">文字</van-tab>
      <van-tab title="博文">博文</van-tab>
    </van-tabs>
  </div>
</template>

<script>
export default {
  props: {
    active: {
      default: 0
    }
  }
}
</script>
<style scoped>
</style>
